/* CSS Document */

html{
	font-size: 18px;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	color: #4a4a4a;
}
body{
  line-height: 1.4rem;
}

.container{
	margin-left: 24px;
	margin-right: 24px;
}
img{
	width: 100%;
	height: auto;
}

.moblie-on{
		display: none;
	}



/*Navigation Section*/

nav{
	display: flex;
	justify-content: space-between;
	height: 3.5rem;
}

nav .title{
	display: flex;
	align-items: center;
}
nav img{
	height: 3rem;
}

/*Title Font*/

nav .colmar{
	font-weight: 900;
}

nav .academy{
	font-weight: 300;
	color: gray
}

/*Nav Menu*/

ul {
  margin-right: 1rem;
	display: flex;
	align-items: center;
}

ul li {
  display: inline;
  padding: 0 0.5rem;
}
nav .moblie-on{
	display: none;
}

/*Media Querie for Moblie*/

@media only screen and (max-width: 736px) { 
	body .moblie-on{
		display: block;
	}
	body .moblie-off{
		display: none;
	}
	nav{
		justify-content: space-around;
	}
}




/*Section 1*/

.section1{
	background-color: lightgray;
	display: flex;
	padding: 3rem 2rem;
	height: auto;
}

.section1 img{
	height: auto;
	width: 100%;
}

.section1 .main-text{
	display: flex;
	align-items: center;
	margin: 3rem;
	width: 30%;
}

.section1 h1{
	font-size: 3rem;
	line-height: 3rem;
	font-weight: bold;
	margin: 2rem;
}
.section1 p{
	line-height: 2rem;
	font-size: 2rem;
	margin: 2rem;
}

.section1 .btn{
	background-color: #4a4a4a;
	text-align: center;
	color: white;
	padding: 1rem;
	font-size: 1.5rem;
}

@media only screen and (max-width: 736px) { 
	.section1{
		flex-direction: column;
		padding: 0rem;
		align-items: center;
	}
	.section1 .main-text{
	margin: 0rem;
	margin-bottom: 2rem;
	width: 90%;
	align-items: center;
}
}


/*Section2*/
.section2{
	display: flex;
}

/*First Box*/
.section2 .box1{
	margin: 3rem 2rem;
	width: 60%;
}
.section2 h1{
	font-size: 3rem;
	line-height: 3rem;
	font-weight: bold;
	margin: 2rem 0rem 1.5rem 0rem;
	
}

/*Second Box*/

.section2 .box2{
	width: 40%;
	padding: 3rem 0rem;
	border-left: solid lightgray 0.15rem;
/*	display: flex;*/
}
.section2 .box2 .sub{
	display: flex;
	padding: 0rem 1rem;
	border-bottom: solid lightgray 0.15rem;
	align-items: center;
}


.section2 .box2 .photo{
	width: 35%;
	margin: 1rem;
}
.section2 .sub-text{
	max-width: 50%;
}

.section2 h3{
	font-size: 2rem;
}
.section2 p{
	padding: 0.5rem 0rem;
}
.section2 .sc-3{
	background-color: lightgray;
}




@media only screen and (max-width: 736px) { 
	.sub{
		flex-direction: column;
	}
	.section2 .box2{
		width: 100%;
		border: solid 0px white;
	}
	.section2 .box2 .sub{
	border-bottom: solid lightgray 0px;
}
	.section2 .sub-text{
		max-width: 90%;
		
	}
	 .moblie-on{
		display: block;
	}
	 .moblie-off{
		display: none;
	}
	.section2 .box2 .photo{
		width: 90%;
	}
	.section2 .sc-3{
	background-color: white;
}
}


/*Section 3*/



.section3{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightgray;
}
.section3 h1{
	padding: 2rem;
	font-size: 2rem;
}
.section3 .box1,.section3 .box2{
	display: flex;
	justify-content: center;
}
.section3 .sub{
	margin: 2rem;
	background-color: white;
	max-width: 30rem;
}
.section3 p,.section3 h4{
	color: gray;
	padding: 0.5rem 0rem;;
}
.section3 h3{
	font-size: 1.4rem;
}
.section3 .sub-text{
	margin: 1rem;
}

@media only screen and (max-width: 736px) { 
	.section3{
		background-color: white;
	}
	.section3 .box1,.section3 .box2{
		flex-direction: column;
		width: 90%;
	}
	.section3 .sub{
		background-color: lightgray;
		padding: 1rem;
		margin: 0.5rem;
	}
	.section3 h3{
		font-size: 2rem;
	}
	.section3 h1{
	padding: 2rem;
	font-size: 3rem;
}
	
}


/*Section 4*/

.section4{
	display: flex;
	flex-direction: column;
}

/*First Box*/
.section4 .box1{
	margin: 3rem 2rem;
	width: 60%;
}
.section4 h1{
	font-size: 3rem;
	line-height: 3rem;
	font-weight: bold;
	margin: 2rem 0rem 1.5rem 0rem;
	
}

/*Second Box*/

.section4 .box2{
	width: 40%;
	padding: 3rem 0rem;

/*	display: flex;*/
}
.section4 .box2 .sub{
	display: flex;
	padding: 0rem 1rem;
	align-items: center;
}


.section4 .box2 .photo{
	width: 35%;
	margin: 1rem;
}
.section4 .sub-text{
	max-width: 50%;
}

.section4 h3{
	font-size: 2rem;
}
.section4 p{
	padding: 0.5rem 0rem;
	color: gray;
}
.section4 .sc-1{
	background-color: lightgray;
}
.section4 .inter-section{
	display: flex;
}
.section4 > h1{
	text-align: center;
	margin: 2rem;
}


@media only screen and (max-width: 736px) { 
	.section4 .box1{
		width: 100%;
		margin: 0rem;
	}
	
}

/*Footer Section*/

footer{
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem 3rem 1.5rem;
	border-top: solid lightgray 0.15rem;
}


@media only screen and (max-width: 736px) { 
	footer{
		border-top: solid white 0rem;
		justify-content: center;
		padding: 3rem 1.5rem 3rem 1.5rem;
	}
	
}